<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Java--file/TestNGDemo">
        <classes>
            <class name="test.testng.demo.script.TestHelloWorldTest">
                <methods>
                    <include name="testcase"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>