<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="test parameters">
        <parameter name="name" value="Tom"/>
        <parameter name="age" value="12"/>
        <parameter name="a" value="1"/>
        <parameter name="b" value="5"/>

        <groups>
            <define name="one">
                <include name="method1"/>
            </define>
        </groups>



        <classes>
            <class name="test.testng.demo.script.ParameterTest"/>
        </classes>
    </test>
</suite>